@using Lemontea.Shared.Models.Dto
@model AziendaDto

<style>
  .elimina-btn {
    background-color: crimson;
  }

    .elimina-btn:hover {
      background-color: darkred;
      color: #d3d3d3;
    }
</style>

<div style="margin: 4px">
@(Html.Kendo().Button()
  .Name("goBackButton")
  .Content("Indietro")
  .Events(config =>
  {
    config.Click("goToAziendaIndex");
  })
  )
</div>

<div class="card" style="width: 24rem">
  <div class="card-header">
    @Model.RagioneSociale
  </div>
  <div class="card-body">
    <p class="card-text">📍&nbsp; @Model.Indirizzo @Model.NCivico, @Model.Citta</p>
    <p class="card-text">📧 @Model.Email</p>
    <p class="card-text">🌐&nbsp; @Model.SitoWeb</p>
  </div>

  <div style="margin-top: 4px; margin-bottom: 4px; margin-left:auto; margin-right: 4px">
    @(Html.Kendo().Button()
    .Name("editAziendaButton")
    .Content("Modifica")
    .Events(config =>
    {
      config.Click("goToAddAzienda");
    })
  )
    @(Html.Kendo().Button()
    .Name("deleteAziendaButton")
    .Content("Elimina")
    .HtmlAttributes(new { @class = "elimina-btn" })
    .Events(config =>
    {
      config.Click("removeAzienda");
    })
    )
  </div>
</div>

<div>
  @await Html.PartialAsync("_ContattiAzienda", Model.Contatti)
</div>

<script>
  function goToAziendaIndex(e) {
    window.location.href = "@Url.Action("Index", "Azienda")";
  }

  function goToAddAzienda(e) {
    window.location.href = "@Url.Action("AddAzienda", "Azienda", Model)";
  }

  function removeAzienda(e) {
    $.ajax({
      url: '/Azienda/RemoveAzienda/' + @Model.Id,
      method: 'DELETE',
      success: data => {
        window.location.href = "@Url.Action("Index", "Azienda")";
      }
    })
  }
</script>
