@using Lemontea.Shared.Models.Dto 
@model List<AziendaDto>

<div style="margin-top: 10px; margin-bottom: 10px;">
  @(Html.Kendo().Button()
  .Name("addAziendaButton")
  .Content("Aggiungi")
  .Events(config =>
  {
    config.Click("goToAddAzienda");
  })
)
  @(Html.Kendo().Button()
  .Name("searchAziendaButton")
  .Content("Cerca")
  .Events(config =>
  {
    config.Click("goToSearchAzienda");
  })
)
</div>

@(Html.Kendo().Grid<AziendaDto>(Model)
  .Name("GridAziende")
  .Columns(columns =>
  {
    columns.Bound(m => m.RagioneSociale);
    columns.Bound(m => m.Telefono);
    columns.Bound(m => m.SitoWeb);
    columns.Bound(m => m.Email);
    columns.Command(command => command.Custom("DettaglioAzienda").Text("<i class=\"fas fa-arrow-circle-right\"></i>").Click("dettaglioAziendaRedirect")).Width(60);
    //columns.Command(command => command.Custom("EditAzienda").Text("Modifica").Click("editAziendaRedirect")).Width(120);
    //columns.Command(command => command.Destroy().Text("Elimina")).Width(120);
  })
  .ToolBar(toolbar =>
  {
    toolbar.Search();
  })
  .Sortable(true)
  .DataSource(source =>
  {
    source
      .Ajax()
      .ServerOperation(false)
      .Model(m =>
      {
        m.Id(a => a.Id);
        m.Field(a => a.RagioneSociale);
        m.Field(a => a.Telefono);
        m.Field(a => a.SitoWeb);
        m.Field(a => a.Email);
      });
      //.Destroy(config =>
      //{
      //  config.Action("RemoveAzienda", "Azienda");
      //  config.Type(HttpVerbs.Delete);
      //});
  })
)

<script>
  function dettaglioAziendaRedirect(e) {
    let d = this.dataItem($(e.currentTarget).closest('tr'));
    window.location.href = "@Url.Action("DettaglioAzienda", "Azienda")?id=" + d.Id;
  }

  @*function editAziendaRedirect(e) {
    let d = this.dataItem($(e.currentTarget).closest('tr'));
    window.location.href = "@Url.Action("AddAzienda", "Azienda")?id=" + d.Id;
  }*@

  function goToAddAzienda(e) {
    window.location.href = "@Url.Action("AddAzienda", "Azienda")";
  }

  function goToSearchAzienda(e) {
    window.location.href = "@Url.Action("Search", "Azienda")";
  }
</script>
